<div class="jumbotron">
  <h1>About</h1>
</div>
<br>
<div class="col-lg-1 col-md-1 col-sm-1"></div>
<div class="col-lg-11 col-md-11 col-sm-11">
  <p><strong>Would You Rather?</strong> is a game of preferences, where you choose between two things of the same category. These categories range from famous cats to TV characters, and even some not-so-PG categories, like Cards Against Humanity cards, which are available only to those over the age of 18.</p>
  <br>
  <p>Upon answering a question, you'll get to see the statistics of what everyone else has selected when presented with the same two choices. You also have the option of commenting on a particular question.</p>
</div>
