body {
  background-color: #FFC33C;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Rock Salt', cursive;
}


h3 {
  font-family: 'Noticia Text', serif;
  font-weight: bold;
  margin-left: 15px;
}

h4 {
   font-family: 'Rock Salt', cursive;
 }

h5 {
  font-family: 'Noticia Text', serif;
}

.navbar {
  background-color: #59C4C5;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

.navbar a {
  color: white;
}

#hamburger {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.jumbotron {
  background-color: #FFC33C;
  padding: 1rem;
  margin-bottom: 2.5rem;
}

.img-thumbnail {
  height: 400px;
  padding: 0.75rem;
  background-color: #FF4C65;
  border: 0;
  border-radius: 2rem;
}

.img-thumbnail:hover {
  filter: brightness(1.5);
  filter: contrast(0.75);
}

.answer-img-thumbnail {
  height: 400px;
  padding: 0.75rem;
  background-color: #FF4C65;
  border: 0;
  border-radius: 2rem;
  max-width: 100%;
}

.choice-btn {
  color: #FFF;
  background-color: #FF4C65;
  height: 275px;
  width: 100%;
  border-radius: 2rem;
  border-width: 0.75rem;
  font-size: 3rem;
  line-height: 1.5;
  white-space: normal !important;
	word-wrap: break-word !important;
}

.choice-btn:hover {
  background-color: #E6445B;
}

.answer-box {
  background-color: #FF4C65;
  height: 275px;
  width: 100%;
  border-radius: 2rem;
  border: 0.75rem solid rgb(186, 186, 186);
}

.answer-box p {
  color: #FFF;
  font-size: 3rem;
  white-space: normal !important;
  word-wrap: break-word !important;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}



.more-btn {
  color: #FFF;
  background-color: #59C4C5;
  height: 5.5rem;
}

.more-btn:hover {
  background-color: #50B0B1;
}

hr.large{
  margin-top: 50px;
	border-top: 8px dotted #343a40;
}

hr.small{
  margin-top: 25px;
	border-top: 0.2rem solid rgb(186, 186, 186);
}

.comment-box {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
  width: 97%;
  background-color: #FBE2B4;
  padding: 15px;
  border-radius: 1rem;

}

.warning {
  color: red;
  font-weight: bold;
  padding: 2rem 0rem;
}

.form-control {
  margin-bottom: 10px;
}

#logout {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
}
